<article>
  <div class="app_heads">
    update blog post
  </div>
  <form class="edit-post-form">
    <div>
      <input type="text" name="post-title" value="{{post.title}}" />
      <input type="text" name="post-message" value="{{post.message}}" />
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="save-post-btn btn btn-primary">save</button>
    <button type="button" class="delete-post-btn btn btn-primary">delete</button>
  </form>
</article>
<br>
<form class="comment-form">
  <div class="app_heads">comment</div>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">comment</button>
    <button type="button" class="upvote-btn btn btn-primary fas fa-thumbs-up"></button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>